@{
    ViewBag.Title = "Bill Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BillReport", "Reports", FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
{ <div class="row">
        <div class="FormHeader">
            @ViewBag.Message
            <fieldset id="FormHeaderFieldSet">
                <div id="FormTitlePannel" class="col-lg-3">
                    <div id="FormTitle" style="font-size:larger; font-weight:bold;">Supplier Bill Report</div>
                </div>
                <div id="MessageText" class="col-lg-3"></div>
                <div class="col-lg-3">

                    <input type="radio" id="rptPDF" name="ReportType" value="PDF" style="width: 7%; float: right;" tabindex="3" checked="checked" />
                    <label style="font-size: small; float: right; font-weight: bold; color: #00688B;"> PDF</label>

                    <input type="radio" id="rptExcel" name="ReportType" value="EXCEL" style="width: 7%; float: right;" tabindex="4" />
                    <label style="font-size: small; float: right; font-weight: bold; color: #00688B;"> Excel</label>

                </div>
                <div id="ButtonPanel" class="col-lg-3 right">
                    <input type="button" id="btnReset" class="Button" value="Reset" style="position:absolute; right:20px;" onclick="ClearAll();" />

                    <input type="submit" id="btnShowReport" class="Button" value="Show Report" style=" position: absolute; right: 100px;" />
                </div>
            </fieldset>

        </div>
    </div>

    <div class="row">
        <div class="FormBody">
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <table class="table-condensed">
                        <tr>
                            <td>
                                <label>Supplier</label>
                            </td>
                            <td>
                                <input type="text" id="SupplierCode" class="txtBox" name="SupplierCode" placeholder="Press F9" readonly="readonly" />
                                <input type="text" id="SupplierName" name="SupplierName" class="txtBox" readonly="readonly" />
                                <input type="hidden" id="SupplierID" class="txtBox" name="SupplierID" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Purchase Year</label>
                            </td>
                            <td>
                                <input type="number" id="PurchaseYear" style="width:125px;" name="PurchaseYear" min="0" max="9999" placeholder="YYYY" maxlength="4" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>From Date:</label>
                            </td>
                            <td>
                                <input type="text" id="FromDate" name="FromDate" class="datePicker txtBox" style="width:125px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>To Date:</label>
                            </td>
                            <td>
                                <input type="text" id="ToDate" name="ToDate" class="datePicker txtBox" style="width:125px;" />
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table-condensed">
                        <tr>
                            <td>
                                <label>Supplier Wise Bill Summary </label>
                            </td>
                            <td>
                                <input type="radio" id="SupplierWiseBillSummary" name="ReportName" value="SupplierWiseBillSummary" checked="checked" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Supplier Wise Bill Details  </label>
                            </td>
                            <td>
                                <input type="radio" id="SupplierWiseBillDetail" name="ReportName" value="SupplierWiseBillDetail" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br />
        </div>
    </div>
}


<div id="SupplierWindow" style="display: none;">
    <div id="SupplierWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnSupplierWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnSupplierWindowOK" class="PopUpButton" value="OK" />

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".datePicker").kendoDatePicker({
            format: "{0:dd/MM/yyyy}"
        });

        var supplierGridDataSource = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "SupplierID",
                    fields: {
                        SupplierID: { editable: false },
                        SupplierCode:{editable: false},
                        SupplierName: { editable: false },
                        Address: { editable: false },
                        SupplierAddressID: { editable: false },
                        ContactPerson: { editable: false },
                        ContactNumber: { editable: false },
                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("GetSupplierList", "Common")',
                    type: "GET",
                    dataType: "JSON"
                }
            },
            pageSize: 10

        });

        var supplierGrid = $("#SupplierWindowGrid").kendoGrid({
            dataSource: supplierGridDataSource,
            pageable: true,
            editable: true,
            selectable: "row",
            navigatable: true,
            filterable: true,
            sortable: true,
            height: 300,
            columns: [
                  { field: "SupplierID",  hidden:true },
                  { field: "SupplierCode", title: "Supplier Code", width: "60px" },
                  { field: "SupplierName", title: "Supplier Name", width: "120px" },
                  { field: "Address", title: "Address", width: "80px" },
                  { field: "ContactPerson", title: "Contact Person", width: "80px" },
                  { field: "ContactNumber", title: "Contact Number", width: "60px" }
            ]
        });

    });

    var supplierWindow = $('#SupplierWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "auto",
        height: "auto",
        title: "List Of Supplier",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');



    //To select the first row as default & to clear the filter while loading the grid
    function SelectedItemOfListOfValue(GridName) {
        var grid = $('#' + GridName).data("kendoGrid");
        //Reload Grid
        grid.dataSource.read();
        //Clear Filter
        $('#' + GridName).data("kendoGrid").dataSource.filter([]);
        //Select First Row
        $('#' + GridName).data().kendoGrid.bind('dataBound', function (e) {
            this.element.find('tbody tr:first').addClass('k-state-selected');
        });
    }

    //To Bring Data from List of Value Grid to Main Page
    function ListOfValueGridEvent(GridName) {
        var grid = $('#' + GridName).data("kendoGrid");
        var selectedItem = (grid.dataItem(grid.select())); //Selected Row
        changeStatus = 1;
        $.each(selectedItem, function (key, value) {
            if (value != null && value != 0)
                $('#' + key).val(value);
        });
    }

    $(document.body).keypress(function (e) {
        if ($("#SupplierCode").is(":focus")) {
            if (e.keyCode == 120) {
                SelectedItemOfListOfValue('SupplierWindowGrid');
                supplierWindow.open();
            }
        }
    });


    // Handling button click for Supplier window grid
    $('#btnSupplierWindowOK').click(function () {
        ListOfValueGridEvent('SupplierWindowGrid');
        supplierWindow.close();
    });
    $('#btnSupplierWindowCancel').click(function () {
        supplierWindow.close();
    });
    $("#SupplierWindow").dblclick(function () {
        ListOfValueGridEvent('SupplierWindowGrid');
        supplierWindow.close();
    });
    $("#SupplierWindow").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            ListOfValueGridEvent('SupplierWindowGrid');
            supplierWindow.close();

        }
            // Close Window with escape key
        else if (keycode == '27') {
            supplierWindow.close();
        }
        event.stopPropagation();
    });


    $("#btnReset").click(function () {
        $(".txtBox").val("");
        $("#PurchaseYear").val("");
    });



</script>


