
@{
    ViewBag.Title = "Export LC Retirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .select {
        min-width: 240px;
    }

    label {
        padding-left: 10px;
    }
</style>


@using (Html.BeginForm("EXPLCRetirement", "Reports", FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
{
    <div class="row">
        <div class="FormHeader">
            @ViewBag.Message
            <fieldset id="FormHeaderFieldSet">
                <div id="FormTitlePannel" class="col-lg-3">
                    <div id="FormTitle" style="font-size:larger; font-weight:bold;">Export LC Retirement Report</div>
                </div>
                <div class="col-lg-3">
                    <label id="MessageText"></label>
                </div>
                <div class="col-lg-3">
                    <input type="radio" id="rptPDF" name="ReportType" value="PDF" style="width: 7%; float: right;" tabindex="3" checked="checked" />
                    <label style="font-size: small; float: right; font-weight: bold; color: #00688B;"> PDF</label>
                    <input type="radio" id="rptExcel" name="ReportType" value="EXCEL" style="width: 7%; float: right;" tabindex="4" />
                    <label style="font-size: small; float: right; font-weight: bold; color: #00688B;"> Excel</label>
                </div>
                <div id="ButtonPanel" class="col-lg-3 right">
                    <input type="button" id="btnReset" class="Button" value="Reset" style="position:absolute; right:20px;" onclick="ClearAll();" />
                    <input type="submit" id="btnSubmit" class="Button" value="Show Report" onclick="return CheckValue();" style="position: absolute; right: 100px;" />
                </div>
            </fieldset>

        </div>
    </div>
    
    
    
    
    <div class="row">
        <div class="FormBody">
            <div class="row">
                <div class="col-lg-2">
                    <label> L/C Retirement No.:</label>
                </div>
                <div class="col-lg-4">
                    <input type="hidden" value="" id="LCRetirementID" name="LCRetirementID" />
                    <input type="text" value="" id="LCRetirementNo" name="LCRetirementNo" placeholder="Press F9" style="width:60%" />
                </div>
            </div>
        </div>
    </div>
}

<div id="LCRetirementWindow" style="display: none;">
    <div id="LCRetirementWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnLCRetirementWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnLCRetirementWindowOK" class="PopUpButton" value="OK" />
</div>

<script type="text/javascript">
    var rptSelectionList = { "SupllierId": "", "DateFrom": "", "DateTo": "" };
    $(".datePicker").kendoDatePicker({
        format: "dd/MM/yyyy",
        value: new Date(),
        animation: {
            close: {
                effects: "fadeOut zoom:out",
                duration: 300
            },
            open: {
                effects: "fadeIn zoom:in",
                duration: 300
            }
        }
    });

    $('#dateFrom').change(function () {
        var start = $('#dateFrom').val();
        var end = $('#dateTo').val();

        if ($.datepicker.parseDate('dd/mm/yy', start) > $.datepicker.parseDate('dd/mm/yy', end)) {
            $("#MessageText").html("From Date should be less than To Date.");
            $("#MessageText").css("color", "red");
            $('#dateFrom').val(end);
        }
        else {
            $("#MessageText").html("");
        }

    });

    //############### LCRetirement Popup ################
    var blGridDataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "LCRetirementID",
                fields: {
                    LCRetirementID: { editable: false },
                    LCRetirementNo: { editable: false },
                    LCNo: { editable: false },
                    LCRetirementDate: { editable: false },
                    RecordStatus: { editable: false }
                }
            }
        },
        transport: {
            read: {
                url: '@Url.Action("GetExportLCRetirementList", "Utility")',
                type: "GET",
                dataType: "JSON"
            }
        },
        pageSize: 50

    });

    var blGrid = $("#LCRetirementWindowGrid").kendoGrid({
        dataSource: blGridDataSource,
        pageable: true,
        editable: true,
        selectable: "row",
        navigatable: true,
        filterable: true,
        sortable: true,
        height: 300,
        columns: [
              { field: "LCRetirementNo", title: "LCRetirement Code" },
                { field: "LCNo", title: "LC No" },
              { field: "LCRetirementDate", title: "LCRetirement Name" },
              { field: "RecordStatus", title: "Status" }
        ]
    });


    var supplierWindow = $('#LCRetirementWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "auto",
        height: "auto",
        title: "List Of Pack",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //To select the first row as default & to clear the filter while loading the grid
    function SelectedItemOfListOfValue(gridName) {
        var grid = $('#' + gridName).data("kendoGrid");
        //Reload Grid
        grid.dataSource.read();
        //Clear Filter
        $('#' + gridName).data("kendoGrid").dataSource.filter([]);
        //Select First Row
        $('#' + gridName).data().kendoGrid.bind('dataBound', function (e) {
            this.element.find('tbody tr:first').addClass('k-state-selected');
        });
    }

    //To Bring Data from List of Value Grid to Main Page
    function ListOfValueGridEvent(gridName) {
        var grid = $('#' + gridName).data("kendoGrid");
        var selectedItem = (grid.dataItem(grid.select())); //Selected Row
        changeStatus = 1;
        $.each(selectedItem, function (key, value) {
            if (value != null && value != 0)
                $('#' + key).val(value);
        });
    }

    $(document.body).keypress(function (e) {
        if ($("#LCRetirementNo").is(":focus")) {
            if (e.keyCode == 120) {
                SelectedItemOfListOfValue('LCRetirementWindowGrid');
                supplierWindow.open();
            }
        }
    });


    // Handling button click for LCRetirement window grid
    $('#btnLCRetirementWindowOK').click(function () {
        ListOfValueGridEvent('LCRetirementWindowGrid');
        supplierWindow.close();
    });
    $('#btnLCRetirementWindowCancel').click(function () {
        supplierWindow.close();
    });
    $("#LCRetirementWindow").dblclick(function () {
        ListOfValueGridEvent('LCRetirementWindowGrid');
        supplierWindow.close();
    });
    $("#LCRetirementWindow").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            ListOfValueGridEvent('LCRetirementWindowGrid');
            supplierWindow.close();

        }
            // Close Window with escape key
        else if (keycode == '27') {
            supplierWindow.close();
        }
        event.stopPropagation();
    });


    //################################################

</script>

