
@{
    ViewBag.Title = "Wet Blue Production Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("WbProdReport", "Reports", FormMethod.Post, new { target = "_blank", name = "H1Form", id = "H1Form" }))
{
    <div class="FormHeader">
        <div class="row">
            <div id="FormTitlePannel" class="col-lg-3">
                <div id="FormTitle" style="font-size:larger; font-weight:bold;">Wet Blue Production Report</div>
            </div>
            <div id="MessageText" class="col-lg-5">

            </div>
            <div class="col-lg-2" style="">
                <input type="radio" id="rptPDF" name="ReportType" value="PDF" style="width: 2%; margin-left: 70px;" tabindex="3" checked="checked" />
                <label style="font-size: small; font-weight: bold; color: #00688B;">PDF</label>

                <input type="radio" id="rptExcel" name="ReportType" value="EXCEL" style="width: 2%;" tabindex="4" />
                <label style="font-size: small; font-weight: bold; color: #00688B;">Excel</label>
            </div>
            <div class="col-lg-2">
                <input type="submit" id="btnShowReport" value="Show Report" style="position: absolute; right:110px;" />
                <input type="button" id="btnReset" value="Reset" style="position: absolute; right: 50px;" />
            </div>
        </div>
    </div>
    <div class="FormBody" style="font-size: 12px;">
        <div class="row">
            <div class="col-lg-5" style="padding-left: 0; padding-right: 0;">
                <div id="supplierInfo" class="row col-lg-12" style="margin-bottom: 5px; ">
                    <div class="col-lg-3" style="">
                        <label style="">Supplier</label>
                    </div>
                    <div class="col-lg-9" style="padding-left: 0; padding-right: 0;">
                        <input type="text" id="SupplierCode" class="txtBox" name="SupplierCode" placeholder="Press F9" readonly="readonly" />
                        <input type="text" id="SupplierName" name="SupplierName" class="txtBox" readonly="readonly" />
                        <input type="hidden" id="SupplierID" class="txtBox" name="SupplierID" />
                    </div>
                </div>
                <div id="StoreInfo" class="row col-lg-12" style="margin-bottom: 5px; ">
                    <div class="col-lg-3">
                        <label style="">Store</label>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0; padding-right: 0;">
                        @Html.DropDownList("StoreID", new SelectList(ViewBag.Store, "StoreID", "StoreName"), "--Select All--", new { @class = "txtBox Dropdown ", @style = "width: 175px;" })
                    </div>
                </div>
                <div id="PurchaseYearInfo" class="row col-lg-12" style="margin-bottom: 5px; ">
                    <div class="col-lg-3">
                        <label style="">Schedule Year</label>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0; padding-right: 0;">
                        <input type="text" id="PurchaseYear" name="PurchaseYear" placeholder="YYYY" maxlength="4"  />
                    </div>
                </div>
                <div  class="row col-lg-12" style="margin-bottom: 5px; ">
                    <div class="col-lg-3">
                        <label style="">Production Process</label>
                    </div>
                    <div class="col-lg-8" style="padding-left: 0; padding-right: 0;">
                        @*<select class="txtBox" style="width: 175px;" id="PurchaseType" name="PurchaseType">
                            <option value="">--Select All--</option>
                            <option value="SCH">Schedule</option>
                            <option value="ONG">On Going</option>
                            <option value="CMP">Complete</option>
                            <option value="POS">Postponed</option>
                        </select>*@
                        @Html.DropDownList("ItemTypeID", new SelectList(ViewBag.ProcessList, "ProcessID", "ProcessName"), "--Select All--", new { @class = "txtBox Dropdown", @style = "width: 175px;" })
                    </div>
                </div>

                <div class="row col-lg-12" style="margin-bottom: 15px;">
                    <div class="col-lg-3">
                        <label style="">From Date:</label>
                    </div>
                    <div class="col-lg-3" style="padding-left: 0; padding-right: 0;">
                        <input type="text" id="dateFrom" name="DateFrom" class="datePicker" style="min-width: 100px; width: 100%;" />
                    </div>
                    <div class="col-lg-3" style="padding-left: 0; padding-right: 0;">
                        <label style="padding-right: 0; padding-left: 0; margin-left: 50px;">To Date:</label>
                    </div>
                    <div class="col-lg-3" style="padding-left: 0; padding-right: 0;">
                        <input type="text" id="dateTo" name="DateTo" class="datePicker" style="min-width: 100px; width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-10 text-right">
                        <label style="">Process and Schedule Wise Wet Blue Production Summary</label>
                    </div>
                    <div class="col-lg-1" style="">
                        <input type="radio" id="ProcessAndDrumWiseWBProdSummary" name="ReportName" value="ProcessAndDrumWiseWBProdSummary" checked="checked" />
                    </div>
                </div>
                @*<div class="row">
                <div class="col-lg-10 text-right">
                    <label style="">Production Schedule Wise Wet Blue Production Status</label>
                </div>
                <div class="col-lg-1" style="">
                    <input type="radio" id="ProdSchWiseWBProdStatus" name="ReportName" value="ProdSchWiseWBProdStatus" />
                </div>
            </div>*@
                <div class="row">
                    <div class="col-lg-10 text-right">
                        <label style="">Supplier Wise Wet Blue Production Status</label>
                    </div>
                    <div class="col-lg-1" style="">
                        <input type="radio" id="SupplierWiseWBProdStatus" name="ReportName" value="SupplierWiseWBProdStatus" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 text-right">
                        <label style="">Production Status Wise Wet Blue Production Summary</label>
                    </div>
                    <div class="col-lg-1" style="">
                        <input type="radio" id="ProdStatusWiseWBProdSummary" name="ReportName" value="ProdStatusWiseWBProdSummary" />
                    </div>
                </div>

                <div class="row">
                <div class="col-lg-10 text-right">
                    <label style="">Production Date Wise Wet Blue Production Summary</label>
                </div>
                <div class="col-lg-1" style="">
                    <input type="radio" id="ScheduleDateWiseProdStatus" name="ReportName" value="ScheduleDateWiseProdStatus" />
                </div>
            </div>
                
                <div class="row">
                    <div class="col-lg-10 text-right">
                        <label style="">Drum or Machine Wise Wet Blue Production Summary</label>
                    </div>
                    <div class="col-lg-1" style="">
                        <input type="radio" id="ProcessWiseWBProdSummary" name="ReportName" value="ProcessWiseWBProdSummary" />
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-lg-10 text-right">
                        <label>Date Wise Wet Blue Store Transfer Report</label>
                    </div>
                    <div class="col-lg-1" style="">
                        <input type="radio" id="DateWiseWBStoreTransfer" name="ReportName" value="DateWiseWBStoreTransfer" />
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-lg-10 text-right">
                        <label>Month Wise Wet Blue Production Status</label>
                    </div>
                    <div class="col-lg-1" style="">
                        <input type="radio" id="MonthWiseWBProdStatus" name="ReportName" value="MonthWiseWBProdStatus" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">&nbsp;</div>
        <div class="row" style="margin-bottom: 15px;">
        </div>
    </div>
}

<div id="SupplierWindow" style="display: none;">
    <div id="SupplierWindowGrid" class="PopUpGrid">
    </div>
    <input type="button" id="btnSupplierWindowCancel" class="PopUpButton" value="Cancel" />
    <input type="button" id="btnSupplierWindowOK" class="PopUpButton" value="OK" />

</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".datePicker").kendoDatePicker({
            format: "{0:dd/MM/yyyy}"
        });

        var supplierGridDataSource = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "SupplierID",
                    fields: {
                        SupplierID: { editable: false },
                        SupplierCode: { editable: false },
                        SupplierName: { editable: false },
                        Address: { editable: false },
                        SupplierAddressID: { editable: false },
                        ContactPerson: { editable: false },
                        ContactNumber: { editable: false },
                    }
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("GetSupplierList", "Common")',
                    type: "GET",
                    dataType: "JSON"
                }
            },
            pageSize: 10

        });

        var supplierGrid = $("#SupplierWindowGrid").kendoGrid({
            dataSource: supplierGridDataSource,
            pageable: true,
            editable: true,
            selectable: "row",
            navigatable: true,
            filterable: true,
            sortable: true,
            height: 300,
            columns: [
                  { field: "SupplierID", hidden:true, title: "Supplier ID", width: "60px", filterable: false, sortable: false },
                  { field: "SupplierCode", title: "Supplier Code", width: "60px" },
                  { field: "SupplierName", title: "Supplier Name", width: "120px" },
                  { field: "Address", title: "Address", width: "60px" },
                  { field: "ContactPerson", title: "Contact Person", width: "60px" },
                  { field: "ContactNumber", title: "Contact Number", width: "60px" }
            ]
        });

    });
    var supplierWindow = $('#SupplierWindow').kendoWindow({
        actions: ["Minimize", "Maximize", "Close"],
        visible: false,
        width: "auto",
        height: "auto",
        title: "List Of Supplier",
        position: { top: 50, left: 5 },
        modal: true,
        draggable: true
    }).data('kendoWindow');

    //To select the first row as default & to clear the filter while loading the grid
    function SelectedItemOfListOfValue(gridName) {
        var grid = $('#' + gridName).data("kendoGrid");
        //Reload Grid
        grid.dataSource.read();
        //Clear Filter
        $('#' + gridName).data("kendoGrid").dataSource.filter([]);
        //Select First Row
        $('#' + gridName).data().kendoGrid.bind('dataBound', function (e) {
            this.element.find('tbody tr:first').addClass('k-state-selected');
        });
    }

    //To Bring Data from List of Value Grid to Main Page
    function ListOfValueGridEvent(gridName) {
        var grid = $('#' + gridName).data("kendoGrid");
        var selectedItem = (grid.dataItem(grid.select())); //Selected Row
        changeStatus = 1;
        $.each(selectedItem, function (key, value) {
            if (value != null && value != 0)
                $('#' + key).val(value);
        });
    }

    $(document.body).keypress(function (e) {
        if ($("#SupplierCode").is(":focus")) {
            if (e.keyCode == 120) {
                SelectedItemOfListOfValue('SupplierWindowGrid');
                supplierWindow.open();
            }
        }
    });


    // Handling button click for Supplier window grid
    $('#btnSupplierWindowOK').click(function () {
        ListOfValueGridEvent('SupplierWindowGrid');
        supplierWindow.close();
    });
    $('#btnSupplierWindowCancel').click(function () {
        supplierWindow.close();
    });
    $("#SupplierWindow").dblclick(function () {
        ListOfValueGridEvent('SupplierWindowGrid');
        supplierWindow.close();
    });
    $("#SupplierWindow").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            ListOfValueGridEvent('SupplierWindowGrid');
            supplierWindow.close();

        }
            // Close Window with escape key
        else if (keycode == '27') {
            supplierWindow.close();
        }
        event.stopPropagation();
    });

    /*----------------------------------------------- Reset --------------------------------------------*/

    $("#btnReset").click(function () {
        $("#SupplierID").val("");
        $("#SupplierName").val("");
        $("#StoreID").val("");
        $("#PurchaseYear").val("");
        $("#PurchaseType").val("");
        $("#ItemTypeID").val("");
        $("#dateFrom").val("");
        $("#dateTo").val("");
        $("#SupplierCode").val("");
    });



    /*--------------------------------------------- Reset End ------------------------------------------*/

</script>
