/* 
************************************************************************************
        * CSS File using for Atten master Page
	    * Created by: Engr. Mir Sadequr Rahman
	    * Cell & Email: +88-01914-224060 & engr.msadek027@gmail.com
		* Description : this  css for middle Design between project ....
		* Created Date: 03-07-2013. 
		* Last Modified: 
 ***********************************************************************************
*/
body
{
    margin: 0; 
    padding: 5px;
    width: 99%;
    color: #000;
    background: #EBEBEB;
    font: normal 15px "arial";
}

#body
{
    width: 99%;
    margin: 0 auto;
    background-color: #FFFFFF;
}



#baner
{
    width: 96%;
    height: 35px;
    background: #6a9dd1;
}

#header
{
    
    background: #5B92C4;
    float: right;
    width: 100%;
    height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}


#contentBody
{
    clear: both;
    float: left;
    height: 500px;
    width: 98%;
    padding: 10px;
    background: #FFFFFF;
}


#StatusBar
{
    float: left;
    height: 22px;
    width: 100%;
    background: #5B92C4;
}

#footer
{
    background-position:bottom;
    clear: both;
    height: 26px;
    width: 100%;
    background-color: #6a9dd1;
}

#banarLeft
{
    float: left;
    padding: 5px;
    width: 91.5%;
    height: auto;
    font-size: 20px;
    font-family: 'Agency FB';
    font-weight: bold;
}

#banarRight
{
    float: left;
    padding: 5px;
    width: 5%;
    height: auto;
    font-size: 12px;

}

#statusBarLeft
{
    float: left;
    padding: 1px;
    width: 84%;
    height: auto;
    font-size: 12px;
}

#statusBarRight
{
    float: left;
    padding: 1px;
    width: 14.8%;
    height: auto;
    font-size: 12px;
}

#footerLeft
{
    background-position: left;
    float: left;
    padding: 5px;
    width: 30%;
    height: 100%;
    background: url('../Image/square_informatix_ltd_logo.png');
    background-repeat: no-repeat;
}

#footerMiddle
{
    float: left;
    padding: 5px;
    width: 50%;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#footerRight
{
    float: Right;
    padding: 1px;
    width: 15%;
    height: auto;
    font-size: 12px;
}

#menu
{ 
    width: 820px;
    height: 60px;
    margin: 0 auto;
    padding: 0px 40px;
    position: relative;
}

    #menu ul
    {
        margin: 0;
        padding: 0px 0px 0px 0px;
        line-height: normal;
        
        list-style-type: none;
    }

    #menu a
    {
        display: block;
        height: 20px;
        margin-right: 1px;
        padding: 10px 20px 0px 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Abel', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #FFFFFF;
        border: none;
    }

        #menu a:hover
        {
            background: url(images/page-content-bg.png) repeat;
        }

    #menu ul ul a:hover
    {
        background: url(images/page-menu-bg.png) repeat;
    }

    #menu .current_page_item a
    {
        background: url(images/page-content-bg.png) repeat;
    }


    #menu li
    { 
        float: left;
    }


    #menu ul ul
    { 
        list-style-type: none;
        position: absolute;
        z-index: 500;
        left: 50px;
        right: 0;
    }

        #menu ul ul ul
        {
            position: absolute;
            z-index: 500;
            left: 50px;
            right: 0;
        }

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{
    display: none;
}

    div#menu ul li:hover ul,
    div#menu ul ul li:hover ul,
    div#menu ul ul ul li:hover ul
    {
        display: block;
    }

    div#menu ul ul li:hover
    {
        background: #c0c0c0;
    }

    div#menu ul ul li
    {
        background: #cccccc;
    }

    div#menu ul ul li a:hover
    {
       color: #000;
    }
