#FormHeader {
    margin-top: 60PX;
    margin-left: 10PX;
    margin-right: 20PX;
    
}

#FormHeaderFieldSet {
    margin-left: 22PX;
    height: 10PX;
    margin-top: -50PX;
}

input [type=text] {
    border-color:white;
}

#FormTitlePannel {
    float: left;
    margin-left: 5PX;
    margin-top: -10PX;
    margin-bottom: 5PX;
}

#FormTitle {
    margin-left: 5PX;
    margin-top: 5PX;
    margin-bottom: 5PX;
    color: Navy;
    font-weight: bold;
    font-size: large;
}

#MessageText {
    color: Red;
    float: left;
    text-align: center;
    font-size: 11pt;
}

#ButtonPanel {
    float: right;
    margin-top: 0;
}

.Button {
    float: right;
    width: 80Px;
    font-weight:bold;
}

#FormBody {
    margin-top: 5PX;
    margin-left: 30PX;
    margin-right: 20PX;
    width: 96.2%;
}

#FormBodyLeft {
    float: left;
    width: 60%;
}

#FormBodyRight {
    float: right;
    width: 33%;
    margin-left: .5%;
}

.tdLabel {
    margin-left: 10PX;
    margin-top: 2PX;
    color: White;
    font-size: small;
    font-weight: bold;
    padding-left: 5PX;
    height: 15PX;
    color:#00688B;
}

#FormBodyRightTable {
    width: 100%;
    float: right;
    /*margin-right: -18%;*/
}

#FormBodyLeftTable {
    width: 80%;
}

.AlignRight {
    float: right;
}

.RequiredSymbol {
    color: Red;
    margin-left: 5px;
    margin-top: 2px;
}

.tdTextBox {
    margin-left: 1PX;
    margin-top: 2PX;
    height: 20PX;
}


.MainGrid {
    margin-top: 20PX;
    margin-left: 30PX;
    margin-right: 20PX;
}

.TwoButtonWindow {
    height: 25px;
    width: 60px;
    margin-left: 50px;
    float: left;
}

.ThreeButtonWindow {
    height: 25px;
    width: 60px;
    margin-left: 30px;
    float: left;
}

.PopUpGrid {
    margin-top: 5px;
}

.PopUpButton {
    height: 25px;
    width: 60px;
    margin-left: 125px;
    margin-top: 10px;
    float: left;
}




.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
    height: 20px;
    padding-top: 6px;
}

.k-grouping-header, .k-mygrid-toolbar {
    padding: .1em .1em .1em !important;
}

.k-button {
    line-height: 1em;
    height: 20px;
}

.k-mygrid td {
    line-height: .01em;
    padding: 0.2em;
}

.k-block, .k-widget, .k-inline-block, .k-textbox > input, .k-input[type="text"], .k-input[type="number"], .k-textbox, .k-picker-wrap .k-input, .k-button, .k-draghandle {
    font-family: inherit;
    font-size: 12px;
}

.k-mygrid-header .k-header {
    font-weight: bold;
}

.k-button {
    line-height: .5em;
    padding-top: 1PX;
}
