/* 
        *  CSS File using for Login Pase
	    * Created by: Engr. Mir Sadequr Rahman
	    * Cell & Email: +88-01914-224060 & engr.msadek027@gmail.com
		* Description : this  css for middle Design between project ....
		* Created Date: 07-02-2013. 
		* Last Modified: 
 */

body
{
    margin: 0;
    padding:100px;
    color: #000;
    background: #EBEBEB;
    font: normal 15px "arial";
    
   
}
/* # for id and . for Class*/
#body
{
    border: medium solid #EBEBEB;
    width: 400px;
    margin: 0 auto; /* background-color: #FFFFFF;
     background-color: #B6CFE9;   */
    background-color: #ACC8E5;
}

#baner
{
    padding: 10px;
    height: 35px;
    background: #6a9dd1;
    font-style: italic;
    font-weight: bold;
    text-align:center;
    color: #FFFFFF;
    font-size:16px;
}


#ContentBodyLeftMidRight
{
    height:auto;
    margin: 3px 0px 3px 0px;
    width: 98%;
    padding: 3px;
   
}
#ContentBodyLeft
{
    float: left;   
    width: 15%;
    padding:5px;
    margin-top: 5px;
   
   
}
#ContentBodyMid
{
    float: left;
    width: 75%;
    padding: 5px;
    margin: 5px 0px 5px 0px;
   
    font-size: 12px;
}
#ContentBodyRight
{
    float: left;    
    width: 5%;
    padding : 5px;    
    margin:5px 0px 5px 0px; 
    
}

#footer
{
    background-position: #128D31;
    clear: both;
    height: 26px;
    width: 100%;
    background-color: #ACC8E5;
    font-family: 'Brush Script MT';
    font-size: 20px;
    color: #0000FF;
}



/* Sub Div */


#headerLeft
{
     float:left;  
     width: 93%;   
    height: auto;
    
}
#headerRight
{
    float: left;
    width: 2%;
    height: auto;
    font-size: 12px;
}

